@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 96%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 50% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 50%;
    --accent: 30 50% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 86%;
    --input: 0 0% 100%;
    --ring: 0 0% 20%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 50% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 71%;
    --accent: 30 50% 40%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 20%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    /* Đổi font thành Noto Sans, Helvetica Neue */
    font-family: "Noto Sans", "Helvetica Neue", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}
